<body bgcolor="#ffffff">

<!-- did not now where to start the form so i might as well just do it up here.. ~FBM -->
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email, "Email / ID del Usuario *:" %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :password, "Contraseña:" %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, "Re-introduzca su contraseña:" %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Registrarse" %></p>
<% end %>
<%= render :partial => "devise/shared/links" %>

<div aling="center" style="">
<table cellspacing="0" cellpadding="0" border="0" width="850" class="style25">
    <tbody><tr>
      <td bgcolor="#ff6600" width="633" height="46"><h2>&nbsp;</h2></td>
      <td bgcolor="#ff6600" width="217"><img border="0" width="169" height="42" usemap="#MapMap2" src="/images/entertainment.jpg">
        <map name="MapMap2">
          <area href="p_entertaiment.html" coords="6,2,164,38" shape="rect">
      </map></td>
    </tr>
  </tbody>
</table>

<% %>
<table cellspacing="0" cellpadding="0" border="0" width="850" class="">
    <tbody><tr>
      <td width="600" valign="top" height="319" class="" rowspan="2"><table cellspacing="0" cellpadding="0" border="0" width="550">
          <tbody><tr>
            <td align="left" valign="top" colspan="2"><h2 class="style29"><strong>Registro para Asociados</strong></h2>
              <p class="style30">El Programa de Soluciones Integradas de Elite Enter@te esta a su disposición, Usted tiene la oportunidad de tener ahora su propio negocio con respaldo profesional y tecnología de punta. Usted encontrará en este programa productos y servicios de gran demanda como por ejemplo usted promoverá y venderá programas Visa e Ingenicard, además de tarjetas individuales como también  larga distancia, seguros de todo tipo, programas de lealtad, viajes en general , tanto nacionales como internacionales, licencia de conducir internacional, fajas, credenciales de identificación, ventas de portales, sistemas de generación de fondos para organizaciones sin fines de lucro, promociones especiales para negocios y mucho más.</p>
            <p class="style30"><strong>Regístrese,  la oportunidad  tanto esperada hoy esta a su alcance</strong></p></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2"><table cellspacing="0" cellpadding="0" border="0" width="600">
              <tbody><tr>
                <td width="266"><img width="250" height="233" src="/images/brinco.jpg"></td>
                <td align="left" width="334"><h1 class="style15">La mejor forma de recibir ingresos</h1>
                  <p class="style30">"Sólo en enter@te es donde se cumple el verdadero principio de generar ingresos semanales y de manera continúa  ¡El Método innovador más fácil y rápido para ganar dinero!.</p>
                  <p class="style30"> Si deseas una oportunidad que te permita generar ingresos continuos e ilimitados, para mejorar tu calidad de vida y la de tu familia y al mismo tiempo ayudar a otras personas a que logren lo mismo que tú, entonces eres la persona ideal para unirte como miembro VIP y empezar a desarrollar esta actividad. Bienvenido a la oportunidad que estabas esperando!! </p></td>
                </tr>
              <tr>
                <td align="left" colspan="2"><p class="style30">Para formar parte de Nuestro Equipo, por favor complete los siguientes 2 Pasos. </p>
                  <p class="style30">Estamos construyendo juntos una Línea Mundial donde todos trabajamos, con un solo propósito.
                    </p>
                  <h3><span class="style15"><strong>Nuestro éxito!</strong></span><br>
                  </h3></td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td bgcolor="#006600" height="27" class="style37" colspan="2">Forma de Registro para Asociados</td>
          </tr>
          <tr>
            <td height="14" colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#006600" height="27" class="style37" colspan="2"><p>Dos Alternativas de Registro: Una de $230 y Otra de $130.</p></td>
          </tr>
          <tr>
            <td height="14" colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#006600" height="14" class="style37" colspan="2">Además todo portal activo con operaciones múltiples se cobrará $10 mensuales de sus comisiones, todo portal que no esté activo en 60 días, lamentablemente tendremos que cancelarlo ya que su costo de mantenerlo al aire es demasiado alto.</td>
          </tr>
          <tr>
            <td height="14" colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#006600" height="28" class="style37" colspan="2"> 1. Primera Forma de Registro $230</td>
          </tr>
          <tr>
            <td align="left" height="14" colspan="2"><p class="style30">Usted debe adquirir (comprar) un curso completo de  ventas, un curso de inglés, o puede decidirse por un certificado de 4 pasajes  áeros para ser utilizados dos (2) pasajes por año a más de 100 países,  restricciones aplican, por favor ver el certificado. Al adquirir cualquiera de  estas tres opciones por tan sólo $230, usted será parte de esta gran  oportunidad. </p>
              <p class="style30">Todo asociado tendrá derecho a una Tarjeta Elite Enter@te Engenicard.<br>
                <br>
              Si usted esta interesado en realizar su suscripción, pero no cuenta con los  $230 usted podrá aplicar a un crédito de $100 que le serán descontados de sus  comisiones o ingresos. Para las personas que apliquen al credito de $100 le  será entregado el producto elegido hasta el término final del pago de los $230,  no aplica devolución.</p>
              <p class="style30">Usted sólo pagará como primer pago $130 .</p>
              <p class="style30">Todo socio tiene derecho a este sistema, que será  renovados automáticamente siempre y cuando usted esté activo en el sistema. </p>
              <span class="style30"> Si  usted en 3 meses no tiene ningún movimiento, será retirado del sistema  automáticamente sin derecho a reclamación, devoluciones o cualquier relación  con el grupo Enter@te será completamente terminada, esto aplica también a las  personas que activan el sistema y no lo operan, estas penalidades son parte del  Reglamento de Derechos y Políticas del Grupo Enter@ate, la cual usted está de  acuerdo al firmar este registro. <br>
              <br>
            Si usted fué cancelado del sistema por falta de uso y desea retornar al  programa, podrá hacerlo, pagando de nuevo la suscripción y entrará como nuevo  socio, no podrá reclamar nada sobre su anterior participación</span></td>
          </tr>
          <tr>
            <td height="14" colspan="2">&nbsp;</td>
          </tr>
          <tr>
            
            <!-- HELLOOOOOOOOOOOO -->
            
            <td align="left" height="14" colspan="2"><strong>Desde  hoy Usted es nuestro asociado, desde hoy usted tiene su propio negocio.</strong></td>
          </tr>
          <tr>
            <td height="14" colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" height="14" colspan="2"><label>
              <input type="checkbox" id="checkbox2" name="checkbox2">
            <span class="style29"><strong> $230</strong></span></label></td>
          </tr>
          <tr>
            <td align="left" height="14" colspan="2"><img width="269" height="172" src="/images/1-elitenterate.jpg"></td>
          </tr>
          <tr>
            <td height="14" colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#006600" height="28" class="style37" colspan="2">2. Segunda Forma de Registro $130</td>
          </tr>
          <tr>
            <td height="14" colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" height="14" colspan="2"><p class="style30">Usted debe adquirir (comprar)  un Libro de Descuentos Entertainment por valor de $130 que cuenta con mas de 12,000 Cupones de Descuentos. Al adquirir este Libro de Descuentos, usted será parte de esta gran oportunidad </p>
              <p class="style30">Todo asociado tendrá derecho a una Tarjeta Elite Enter@te Engenicard.<br>
              </p>
              <p class="style30">Usted sólo pagará como primer pago $130 .</p>
              <p class="style30">Todo socio tiene derecho a este sistema, que será  renovados automáticamente siempre y cuando usted esté activo en el sistema. </p>
              <span class="style30"> Si  usted en 3 meses no tiene ningún movimiento, será retirado del sistema  automáticamente sin derecho a reclamación, devoluciones o cualquier relación  con el grupo Enter@te será completamente terminada, esto aplica también a las  personas que activan el sistema y no lo operan, estas penalidades son parte del  Reglamento de Derechos y Políticas del Grupo Enter@ate, la cual usted está de  acuerdo al firmar este registro. <br>
              <br>
            Si usted fué cancelado del sistema por falta de uso y desea retornar al  programa, podrá hacerlo, pagando de nuevo la suscripción y entrará como nuevo  socio, no podrá reclamar nada sobre su anterior participación</span></td>
          </tr>
          <tr>
            <td height="14" colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td height="14" class="style30" colspan="2">Por el pago de pertenecer a nuestro programa  usted dispondrá de un Libro de Descuento</td>
          </tr>
          <tr>
            <td height="14" colspan="2"><table cellspacing="0" cellpadding="0" border="0" width="561">
              <tbody><tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                </tr>
              <tr>
                <td width="281"><img width="246" height="118" src="/images/bdesc.jpg"></td>
                <td width="280"><img width="246" height="118" src="/images/bdesc.jpg"></td>
                </tr>
              <tr>
                <td align="left" height="22"><h3><span class="style30">CALIFORNIA</span></h3></td>
                <td align="left"><h3><span class="style30">FLORIDA</span></h3></td>
                </tr>
              <tr>
                <td align="left"><span class="style30">Con más de <strong>$12.200</strong> en cupones de <br>descuentos locales</span></td>
                <td align="left"><span class="style30">Con más de <strong>$13.200</strong> en cupones de descuentos locales</span></td>
                </tr>
              <tr>
                <td align="left" height="17"><ul>
                  <li><span class="style30">257 cupones en restaurantes</span></li>
                  <li><span class="style30">158 cupones en atracciones</span></li>
                  <li><span class="style30">153 cupones en almacenes</span></li>
                  <li><span class="style30">Descuentos en tickets de cine</span></li>
                  <li><span class="style30">$15,000 en ofertas de viajes</span></li>
                  </ul></td>
                <td align="left" height="17"><ul>
                  <li><span class="style30">273 cupones en restaurantes</span></li>
                  <li><span class="style30">148 cupones en atracciones</span></li>
                  <li><span class="style30">195 cupones en almacenes</span></li>
                  <li><span class="style30">Descuentos en tickets de cine</span></li>
                  <li><span class="style30">$15,000 en ofertas de viajes</span></li>
                  </ul></td>
                </tr>
              <tr>
                <td align="left"><span class="style30">y mucho más</span></td>
                <td align="left"><span class="style30">y mucho más</span></td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td align="left" width="299">&nbsp;</td>
            <td align="left" width="251">&nbsp;</td>
          </tr>
          <tr>
            <td align="left"><form action="" method="post" name="form5">
              <label>
                <input type="checkbox" id="checkbox3" name="checkbox3">
              <span class="style29"><strong> $130</strong></span></label></form></td>
            <td align="left">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" height="14" colspan="2"><img width="269" height="172" src="/images/1-elitenterate.jpg"></td>
          </tr>
          <tr>
            <td height="14" colspan="2"><hr></td>
          </tr>
          <tr>
            <td class="style30" colspan="2">Toda la información que usted suministre aquí  está protegida por la <a target="_blank" href="http://www.enteratelite.com/enterate/privacy.asp"><strong>Política de Privacidad</strong></a> de  la Compañía. Para su seguridad y protección, nosotros no compartimos esta  información con otras instituciones y solamente la utilizaremos para permitirle  acceder al sistema y proporcionarle productos y servicios. Datos  requeridos son indicados por (*)</td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2"><table cellspacing="0" cellpadding="0" border="0" align="center" width="205">
              <tbody><tr>
                <td width="114"><img width="80" height="80" src="/images/p1.jpg"></td>
                <td width="91"><img width="80" height="80" src="/images/p2.jpg"></td>
                </tr>
              <tr>
                <td><strong class="style30">Información de Acceso</strong></td>
                <td class="style30"><strong>Información de Pago</strong></td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" height="19" class="style37" colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#006600" height="30" class="style37" colspan="2">1. Información personal básica</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td align="left"><form action="" method="post" name="form1">
              <label><span class="style30"><strong>Enter@te PromoCode *</strong></span>
                <input type="text" id="textfield" name="textfield">
                <br>
                <br>
                <strong><span class="style30">Nombres*: </span>
                  </strong>
                <input type="text" id="textfield2" name="textfield2">
                <br>
                <strong class="style30"><br>
                  Apellidos*:</strong>
                <input type="text" id="textfield3" name="textfield3">
                <br>
                <br>
                </label>
              <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody><tr>
                  <td width="55"><p class="style30"><strong>Sexo*:</strong></p></td>
                  <td width="244"><p>
                    <select name="ReqGender">
                      <option value="X" selected="">- Seleccione Uno -
                        </option><option value="M">Masculino
                          </option><option value="F">Femenino
                        </option></select>
                    </p></td>
                  </tr>
                </tbody></table>
              <label>  <br>
                </label>
              <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody><tr>
                  <td><p class="style30"><strong>Fecha de Nacimiento *:</strong></p></td>
                  <td><p>
                    <select name="BMonth">
                      <option value="0" selected="">- Seleccione el Mes -
                        </option><option value="1">Enero
                          </option><option value="2">Febrero
                          </option><option value="3">Marzo
                          </option><option value="4">Abril
                          </option><option value="5">Mayo
                          </option><option value="6">Junio
                          </option><option value="7">Julio
                          </option><option value="8">Agosto
                          </option><option value="9">Septiembre
                          </option><option value="10">Octubre
                          </option><option value="11">Noviembre
                          </option><option value="12">Diciembre
                        </option></select>
                    &nbsp;/
                    <select name="BDay">
                      <option value="0" selected="">- Seleccione el Día -
                        </option><option value="1">1
                          </option><option value="2">2
                          </option><option value="3">3
                          </option><option value="4">4
                          </option><option value="5">5
                          </option><option value="6">6
                          </option><option value="7">7
                          </option><option value="8">8
                          </option><option value="9">9
                          </option><option value="10">10
                          </option><option value="11">11
                          </option><option value="12">12
                          </option><option value="13">13
                          </option><option value="14">14
                          </option><option value="15">15
                          </option><option value="16">16
                          </option><option value="17">17
                          </option><option value="18">18
                          </option><option value="19">19
                          </option><option value="20">20
                          </option><option value="21">21
                          </option><option value="22">22
                          </option><option value="23">23
                          </option><option value="24">24
                          </option><option value="25">25
                          </option><option value="26">26
                          </option><option value="27">27
                          </option><option value="28">28
                          </option><option value="29">29
                          </option><option value="30">30
                          </option><option value="31">31
                        </option></select>
                    / <strong>
                      <input type="text" name="BYear" size="6" maxlength="4">
                    </strong></p></td>
                  </tr>
                </tbody></table>
              <label><br>
                </label>
              <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tbody><tr>
                  <td>&nbsp;</td>
                  <td><strong class="style30">País *:</strong></td>
                  </tr>
                <tr>
                  <td width="100"><p>&nbsp;</p></td>
                  <td><p>
                    <select name="ReqCountryID">
                      <option value="AFG">Afghanistan
                        </option><option value="ALB">Albania
                          </option><option value="DZA">Algeria
                          </option><option value="ASM">American Samoa
                          </option><option value="AND">Andorra
                          </option><option value="AGO">Angola
                          </option><option value="AIA">Anguilla
                          </option><option value="ATA">Antarctica
                          </option><option value="ATG">Antigua and Barbuda
                          </option><option value="ARG">Argentina
                          </option><option value="ARM">Armenia
                          </option><option value="ABW">Aruba
                          </option><option value="AUS">Australia
                          </option><option value="AUT">Austria
                          </option><option value="AZE">Azerbaijan
                          </option><option value="BHS">Bahamas
                          </option><option value="BHR">Bahrain
                          </option><option value="BGD">Bangladesh
                          </option><option value="BRB">Barbados
                          </option><option value="BLR">Belarus
                          </option><option value="BEL">Belgium
                          </option><option value="BLZ">Belize
                          </option><option value="BEN">Benin
                          </option><option value="BMU">Bermuda
                          </option><option value="BTN">Bhutan
                          </option><option value="BOL">Bolivia
                          </option><option value="BIH">Bosnia and Herzegowina
                          </option><option value="BWA">Botswana
                          </option><option value="BVT">Bouvet Island
                          </option><option value="BRA">Brazil
                          </option><option value="IOT">British Indian Ocean Territory
                          </option><option value="BRN">Brunei Darussalam
                          </option><option value="BGR">Bulgaria
                          </option><option value="BFA">Burkina Faso
                          </option><option value="BDI">Burundi
                          </option><option value="KHM">Cambodia
                          </option><option value="CMR">Cameroon
                          </option><option value="CAN">Canada
                          </option><option value="CPV">Cape Verde
                          </option><option value="CYM">Cayman Islands
                          </option><option value="CAF">Central African Republic
                          </option><option value="TCD">Chad
                          </option><option value="CHL">Chile
                          </option><option value="CHN">China
                          </option><option value="CXR">Christmas Island
                          </option><option value="CCK">Cocos (Keeling) Islands
                          </option><option value="COL">Colombia
                          </option><option value="COM">Comoros
                          </option><option value="COD">Congo, Democratic Republic of (was Zaire)
                          </option><option value="COG">Congo, People
                          </option><option value="COK">Cook Islands
                          </option><option value="CRI">Costa Rica
                          </option><option value="CIV">Cote D
                          </option><option value="HRV">Croatia (Local Name: Hrvatska)
                          </option><option value="CUB">Cuba
                          </option><option value="CYP">Cyprus
                          </option><option value="CZE">Czech Republic
                          </option><option value="DNK">Denmark
                          </option><option value="DJI">Djibouti
                          </option><option value="DMA">Dominica
                          </option><option value="DOM">Dominican Republic
                          </option><option value="TLS">East Timor
                          </option><option value="ECU">Ecuador
                          </option><option value="EGY">Egypt
                          </option><option value="SLV">El Salvador
                          </option><option value="GNQ">Equatorial Guinea
                          </option><option value="ERI">Eritrea
                          </option><option value="EST">Estonia
                          </option><option value="ETH">Ethiopia
                          </option><option value="FLK">Falkland Islands (Malvinas)
                          </option><option value="FRO">Faroe Islands
                          </option><option value="FJI">Fiji
                          </option><option value="FIN">Finland
                          </option><option value="FRA">France
                          </option><option value="FXX">France, Metropolitan
                          </option><option value="GUF">French Guiana
                          </option><option value="PYF">French Polynesia
                          </option><option value="ATF">French Southern Territories
                          </option><option value="GAB">Gabon
                          </option><option value="GMB">Gambia
                          </option><option value="GEO">Georgia
                          </option><option value="DEU">Germany
                          </option><option value="GHA">Ghana
                          </option><option value="GIB">Gibraltar
                          </option><option value="GRC">Greece
                          </option><option value="GRL">Greenland
                          </option><option value="GRD">Grenada
                          </option><option value="GLP">Guadeloupe
                          </option><option value="GUM">Guam
                          </option><option value="GTM">Guatemala
                          </option><option value="GIN">Guinea
                          </option><option value="GNB">Guinea-Bissau
                          </option><option value="GUY">Guyana
                          </option><option value="HTI">Haiti
                          </option><option value="HMD">Heard and Mc Donald Islands
                          </option><option value="HND">Honduras
                          </option><option value="HKG">Hong Kong
                          </option><option value="HUN">Hungary
                          </option><option value="ISL">Iceland
                          </option><option value="IND">India
                          </option><option value="IDN">Indonesia
                          </option><option value="IRN">Iran (Islamic Republic Of)
                          </option><option value="IRQ">Iraq
                          </option><option value="IRL">Ireland
                          </option><option value="ISR">Israel
                          </option><option value="ITA">Italy
                          </option><option value="JAM">Jamaica
                          </option><option value="JPN">Japan
                          </option><option value="JOR">Jordan
                          </option><option value="KAZ">Kazakhstan
                          </option><option value="KEN">Kenya
                          </option><option value="KIR">Kiribati
                          </option><option value="PRK">Korea, Democratic People
                          </option><option value="KOR">Korea, Republic Of
                          </option><option value="KWT">Kuwait
                          </option><option value="KGZ">Kyrgyzstan
                          </option><option value="LAO">Lao People
                          </option><option value="LVA">Latvia
                          </option><option value="LBN">Lebanon
                          </option><option value="LSO">Lesotho
                          </option><option value="LBR">Liberia
                          </option><option value="LBY">Libyan Arab Jamahiriya
                          </option><option value="LIE">Liechtenstein
                          </option><option value="LTU">Lithuania
                          </option><option value="LUX">Luxembourg
                          </option><option value="MAC">Macau
                          </option><option value="MKD">Macedonia, The Former Yugoslav Republic Of
                          </option><option value="MDG">Madagascar
                          </option><option value="MWI">Malawi
                          </option><option value="MYS">Malaysia
                          </option><option value="MDV">Maldives
                          </option><option value="MLI">Mali
                          </option><option value="MLT">Malta
                          </option><option value="MHL">Marshall Islands
                          </option><option value="MTQ">Martinique
                          </option><option value="MRT">Mauritania
                          </option><option value="MUS">Mauritius
                          </option><option value="MYT">Mayotte
                          </option><option value="MEX">Mexico
                          </option><option value="FSM">Micronesia, Federated States Of
                          </option><option value="MDA">Moldova, Republic Of
                          </option><option value="MCO">Monaco
                          </option><option value="MNG">Mongolia
                          </option><option value="MSR">Montserrat
                          </option><option value="MAR">Morocco
                          </option><option value="MOZ">Mozambique
                          </option><option value="MMR">Myanmar
                          </option><option value="NAM">Namibia
                          </option><option value="NRU">Nauru
                          </option><option value="NPL">Nepal
                          </option><option value="NLD">Netherlands
                          </option><option value="ANT">Netherlands Antilles
                          </option><option value="NCL">New Caledonia
                          </option><option value="NZL">New Zealand
                          </option><option value="NIC">Nicaragua
                          </option><option value="NER">Niger
                          </option><option value="NGA">Nigeria
                          </option><option value="NIU">Niue
                          </option><option value="NFK">Norfolk Island
                          </option><option value="MNP">Northern Mariana Islands
                          </option><option value="NOR">Norway
                          </option><option value="OMN">Oman
                          </option><option value="PAK">Pakistan
                          </option><option value="PLW">Palau
                          </option><option value="PSE">Palestinian Territory, Occupied
                          </option><option value="PAN">Panama
                          </option><option value="PNG">Papua New Guinea
                          </option><option value="PRY">Paraguay
                          </option><option value="PER">Peru
                          </option><option value="PHL">Philippines
                          </option><option value="PCN">Pitcairn
                          </option><option value="POL">Poland
                          </option><option value="PRT">Portugal
                          </option><option value="PRI">Puerto Rico
                          </option><option value="QAT">Qatar
                          </option><option value="REU">Reunion
                          </option><option value="ROU">Romania
                          </option><option value="RUS">Russian Federation
                          </option><option value="RWA">Rwanda
                          </option><option value="KNA">Saint Kitts and Nevis
                          </option><option value="LCA">Saint Lucia
                          </option><option value="VCT">Saint Vincent and The Grenadines
                          </option><option value="WSM">Samoa
                          </option><option value="SMR">San Marino
                          </option><option value="STP">Sao Tome and Principe
                          </option><option value="SAU">Saudi Arabia
                          </option><option value="SEN">Senegal
                          </option><option value="SYC">Seychelles
                          </option><option value="SLE">Sierra Leone
                          </option><option value="SGP">Singapore
                          </option><option value="SVK">Slovakia (Slovak Republic)
                          </option><option value="SVN">Slovenia
                          </option><option value="SLB">Solomon Islands
                          </option><option value="SOM">Somalia
                          </option><option value="ZAF">South Africa
                          </option><option value="SGS">South Georgia and The South Sandwich Islands
                          </option><option value="ESP">Spain
                          </option><option value="LKA">Sri Lanka
                          </option><option value="SHN">St. Helena
                          </option><option value="SPM">St. Pierre and Miquelon
                          </option><option value="SDN">Sudan
                          </option><option value="SUR">Suriname
                          </option><option value="SJM">Svalbard and Jan Mayen Islands
                          </option><option value="SWZ">Swaziland
                          </option><option value="SWE">Sweden
                          </option><option value="CHE">Switzerland
                          </option><option value="SYR">Syrian Arab Republic
                          </option><option value="TWN">Taiwan
                          </option><option value="TJK">Tajikistan
                          </option><option value="TZA">Tanzania, United Republic Of
                          </option><option value="THA">Thailand
                          </option><option value="TGO">Togo
                          </option><option value="TKL">Tokelau
                          </option><option value="TON">Tonga
                          </option><option value="TTO">Trinidad and Tobago
                          </option><option value="TUN">Tunisia
                          </option><option value="TUR">Turkey
                          </option><option value="TKM">Turkmenistan
                          </option><option value="TCA">Turks and Caicos Islands
                          </option><option value="TUV">Tuvalu
                          </option><option value="UGA">Uganda
                          </option><option value="UKR">Ukraine
                          </option><option value="ARE">United Arab Emirates
                          </option><option value="GBR">United Kingdom
                          </option><option value="USA" selected="">United States
                          </option><option value="UMI">United States Minor Outlying Islands
                          </option><option value="URY">Uruguay
                          </option><option value="UZB">Uzbekistan
                          </option><option value="VUT">Vanuatu
                          </option><option value="VAT">Vatican City State (Holy See)
                          </option><option value="VEN">Venezuela
                          </option><option value="VNM">Viet Nam
                          </option><option value="VGB">Virgin Islands (British)
                          </option><option value="VIR">Virgin Islands (U.S.)
                          </option><option value="WLF">Wallis and Futuna Islands
                          </option><option value="ESH">Western Sahara
                          </option><option value="YEM">Yemen
                          </option><option value="YUG">Yugoslavia
                          </option><option value="ZMB">Zambia
                          </option><option value="ZWE">Zimbabwe
                        </option></select>
                    </p></td>
                  </tr>
                </tbody></table>
              <label>              <br>
                <strong class="style30">Códogo Postal*</strong>:
                <input type="text" id="textfield4" name="textfield4">
                <br>
                </label>
            </form></td>
            <td valign="top"><table cellspacing="0" cellpadding="0" border="0" width="251">
              <tbody><tr>
                <td width="20" valign="top"><img width="20" height="20" src="/images/p3.jpg"></td>
                <td align="left" width="231" class="style30">Enter@te  PromoCode es el Código Promocional de la persona que le refirió este sitio.  Nosotros utilizaremos este Código Promocional para promociones, descuentos,  distribución de comisiones y puntos de lealtad para programas específcos, etc. </td>
                </tr>
              <tr>
                <td valign="top">&nbsp;</td>
                <td align="left" class="style30">&nbsp;</td>
                </tr>
              <tr>
                <td valign="top">&nbsp;</td>
                <td align="left" class="style30">&nbsp;</td>
                </tr>
              <tr>
                <td width="20" valign="top">&nbsp;</td>
                <td align="left" class="style30">&nbsp;</td>
                </tr>
              <tr>
                <td width="20" valign="top"><img width="20" height="20" src="/images/p3.jpg"></td>
                <td align="left" class="style30">Conocer  su fecha de nacimiento le permite a la Compañía ayudarle con una mejor  experiencia.</td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#006600" height="26" colspan="2"><span class="style37">2. Acceso al Sistema</span></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td align="left"><form action="" method="post" name="form2">
              <label><strong class="style30">Email / ID del Usuario *:</strong>
                <input type="text" id="textfield5" name="textfield5">
                </label>
            </form></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td align="left"><form action="" method="post" name="form3">
              <label><strong class="style30">Contraseña *:</strong>
                <input type="text" id="textfield6" name="textfield6">
                </label>
            </form></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td align="left" colspan="2"><form action="" method="post" name="form4">
              <label><strong class="style30">Re-introduzca<br>
                su contraseña * :
                </strong>
                <input type="text" id="textfield7" name="textfield7">
                </label>
            </form></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
<div id="sec3">
          
          <!-- SECCION 3 DE PREGUNTAS -->
          
          <tr>
            <td align="left">&nbsp;</td>
            <td align="left">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" colspan="2">&nbsp;</td>
          </tr>
      </tbody></table></td>
</div>
      <td valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td bgcolor="#ffffff" valign="top" height="2562"><table cellspacing="0" cellpadding="0" border="0" width="252">
        <tbody><tr>
          <td valign="top" class="style6"><a href="p_asociados.html"><img border="0" width="241" height="67" href="#" usemap="#Map2" src="/images/comogano.png"></a></td>
        </tr>
        <tr>
          <td valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td width="252" valign="top" class="style6"><img width="241" height="311" src="/images/saicapida_tar52.png"></td>
        </tr>
        <tr>
          <td valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="style6"><img width="241" height="260" src="/images/saicapida_tar51.png"></td>
        </tr>
        <tr>
          <td align="center" valign="top" height="19" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="81" src="/images/t1.png"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="84" src="/images/t4.jpg"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="84" src="/images/t3.jpg"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="84" src="/images/t2.jpg"></td>
        </tr>
        <tr>
          <td valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="style6"><img width="241" height="174" src="/images/img_2.png"></td>
        </tr>
        <tr>
          <td valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="81" src="/images/t1.png"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="84" src="/images/t4.jpg"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="84" src="/images/t3.jpg"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="84" src="/images/t2.jpg"></td>
        </tr>
        <tr>
          <td valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="style6"><img width="241" height="311" src="/images/saicapida_tar52.png"></td>
        </tr>
        <tr>
          <td valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="style6"><img width="241" height="260" src="/images/saicapida_tar51.png"></td>
        </tr>
        <tr>
          <td align="center" valign="top" height="19" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="81" src="/images/t1.png"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="84" src="/images/t4.jpg"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="84" src="/images/t3.jpg"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="84" src="/images/t2.jpg"></td>
        </tr>
        <tr>
          <td valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="style6"><img width="241" height="174" src="/images/img_2.png"></td>
        </tr>
        <tr>
          <td valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="81" src="/images/t1.png"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="84" src="/images/t4.jpg"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="84" src="/images/t3.jpg"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="84" src="/images/t2.jpg"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="241" height="311" src="/images/saicapida_tar52.png"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img width="130" height="84" src="/images/t2.jpg"></td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top" class="style6"><img border="0" width="168" height="80" usemap="#MapMap" src="/images/vidatv_base.png">
            <map name="MapMap">
              <area target="_blank" href="http://www.alaba.org/Spanish_Bible_80)_Old_Testament.pdf" coords="151,21,11" shape="circle">
              <area target="_blank" href="http://www.alaba.org/Spanish_Bible_90)_New_Testament.pdf" coords="151,62,11" shape="circle">
            </map></td>
        </tr>
        <tr>
          <td align="center" valign="top" height="19" class="style6">&nbsp;</td>
        </tr>
      </tbody></table></td>
    </tr>
  </tbody>
</table>
</div>
</body>