          <table width="412" height="159" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="53">&nbsp;</td>
            </tr>
            <tr>
              <td width="412" height="53"><fieldset>
                <legend>Datos personales </legend>
                <table class="app_form" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span> Nombre (First Name)</td>
                      <td class="for_field"><%= @message[:personal_data][:name] %></td>
                    </tr>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span>Apellido (Last Name)</td>
                      <td class="for_field"><%= @message[:personal_data][:last_name] %></td>
                    </tr>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span> Sexo</td>
                      <td><table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td><%= @message[:personal_data][:gender] %></td>
                          </tr>
                        </tbody>
                      </table></td>
                    </tr>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span> Documento</td>
                      <td><table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td><input name="c_doc_type"  tabindex="7" title="RG" value="RG" type="radio" /></td>
                            <td class="for_label_checkbox"> Identidad /ID Card </td>
                            <td><%= @message[:personal_data][:document_type]%></td>
                            <td class="for_label_checkbox"> Licencia </td>
                          </tr>
                        </tbody>
                      </table></td>
                    </tr>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span> Nº del documento</td>
                      <td class="for_field"><%= @message[:personal_data][:document_number]%></td>
                    </tr>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span> País de emisión</td>
                      <td class="for_field"><%= @message[:personal_data][:country]%></td>
                    </tr>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span>Estado/Provincia de emisión </td>
                      <td class="for_field"><%= @message[:personal_data][:state]%></td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
                <fieldset>
                  <legend>Dirección y contacto </legend>
                  <table class="app_form" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td class="for_label"><span class="red">*</span> Dirección</td>
                        <td class="for_field"><%= @message[:contact_information][:address]%></td>
                      </tr>
                      <tr>
                        <td class="for_label"><span class="red">*</span> Código Postal</td>
                        <td class="for_field"><%= @message[:contact_information][:zip_code]%></td>
                      </tr>
                      <tr>
                        <td class="for_label"><span class="red">*</span> Ciudad</td>
                        <td class="for_field"><%= @message[:contact_information][:city]%></td>
                      </tr>
                      <!-- <tr>

	<td class="for_label">PO Box</td>

	<td class="for_field">

		<input class="for_medium" maxlength="20" name="c_po_box" tabindex="19" title="Informe o número da sua caixa postal (PO Box)" type="text" value="" />&nbsp;

	</td>

</tr> -->
                      <tr>
                        <td class="for_label"><span class="red">*</span> Teléfono</td>
                        <td class="for_field"><%= @message[:contact_information][:cell_phone]%></td>
                      </tr>
                      <tr>
                        <td class="for_label">Email</td>
                        <td class="for_field"><%= @message[:contact_information][:email]%></td>
                      </tr>
                    </tbody>
                  </table>
                </fieldset>
                <fieldset>
                  <legend>Otras informaciones</legend>
                  <table class="app_form" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td class="for_label">Entre el código o <br />
                          nombre de quien
                          lo indicó:</td>
                        <td class="for_field"><%= @message[:vendor_information][:promo_code]%></td>
                      </tr>
                      <tr>
                      </tr>
                      <tr>
                        <td class="for_label">Observación</td>
                        <td class="for_field"><p><%= @message[:vendor_information][:comment]%></p></td>
                      </tr>
                      <tr>
                        <td class="for_label"> Newsletters </td>
                        <td class="for_field"><%= @message[:vendor_information][:newsletters]==1 ? "Si " : "No " %>deseo recibir emails con novedades. </td>
                      </tr>
                    </tbody>
                  </table>
                </fieldset>
            </tr>
          </table>