<h2>FORMULARIO  DE SOLICITUD </h2>
<p>&nbsp;</p>
<fieldset>
<p>Para solicitar el viaje por favor llene el siguiente formulario con sus datos:</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<form action="" method="post" name="form1" id="form1">
  <p>
    <label><strong>ORGANIZACIÓN: </strong>
      <%= @message[:organization]%>
    </label>
  </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><strong>RESPONSABLE</strong>:</p>
  <p>&nbsp;</p>
  <p>
    <label>Nombres:
      <%= @message[:responsable][:name]%>
    </label>
  </p>
  <p>&nbsp;</p>
  <p>
    <label>Apellidos:
      <%= @message[:responsable][:last_name]%>
    </label>
  </p>
  <p>&nbsp;</p>
  <p>
    <label>Dirección:
      <%= @message[:responsable][:address] %>
    </label>
  </p>
  <p>&nbsp;</p>
  <p>
    <label>Ciudad:
      <%= @message[:responsable][:city] %>
    </label>
  </p>
  <p>&nbsp;</p>
  <p>
    <label>Estado:
      <%= @message[:responsable][:state] %>
    </label>
  </p>
  <p>&nbsp;</p>
  <p>
    <label>Teléfono:
      <%= @message[:responsable][:cell_phone] %>
    </label>
  </p>
  <p>&nbsp;</p>
  <p>
    <label>correo:
      <%= @message[:responsable][:email] %>
    </label>
  </p>
  <p>&nbsp;</p>
  <p>Indique la cantidad de personas que <br>
    participarán del viaje:</p>
  <p>&nbsp;</p>
  <p><strong>CANTIDAD DE PERSONAS:</strong></p>
  <p>&nbsp;</p>
  <label><%= @message[:quantity]%></label>
  <p>&nbsp;</p>
  <p>OBSERVACIONES:</p>
  <p>
   <%= @message[:comment]%>
  </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</fieldset>