<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Saicapellanes</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<SCRIPT LANGUAGE="JavaScript">
<!--
function Saltar(pal){
if (pal=='ing54321'){window.location="images/fajas/p_fajascol.html"}
else {window.location="images/fajas/p_fajascol.html"}
}
//-->
</SCRIPT>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--link rel="stylesheet" type="text/css" href="style.css" /-->
<title>SAICAPELLANES</title>
<style type="text/css">
<!--
body {
	background-color: #FFF;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
texto_zquierdo_titulo {
	font-size: 14px;
}
#container #main_container #columns .column_container #right_column2 table tr td table {
	color: #099;
	font-size: 11px;
}
strong {
	color: #666;
}
.resalte {
	font-weight: bold;
}
.titq {
	color: #036;
}
.titur {
	color: #F33;
}
.titute {
	color: #096;
}
a {
	font-weight: bold;
}
.Estilo24 {	color: #000000;
	font-weight: bold;
}
.Estilo25 {color: #000000}
.Estilo26 {color: #006600}
.Estilo6 {color: #990000}
.resalte {
	font-weight: bold;
}
.tit {
	font-weight: bold;
}
.tit {
	font-weight: bold;
}
.tit {
	font-weight: bold;
}
.tit {
	font-weight: bold;
}
.tit {
	font-weight: bold;
}
.tit {
	font-weight: bold;
}
.tit {
	font-weight: bold;
}
-->
</style></head>

<body>
<div id="container">
<%= render :partial=>"/layouts/header_members" %>
<%=  yield %>
</div>
<div style="text-align: center; font-size: 0.75em;">ipwebdesigns</div></body>
</html>